
<html>
<head>
<script>

//sdk loading...
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1776550492653731',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });     
    FB.AppEvents.logPageView();        
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   
   //login check
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    if(response.status === 'connected'){
            console.log('login success'); 
             FB.api('/me', {fields: 'last_name,first_name'}, function(response) {
               document.getElementById("greet").innerHTML="Hello ! ";
              document.querySelector('#name').innerHTML = ' '+response.first_name+' '+
                                                                                  response.last_name;
              console.log(response);
              
            var parent = document.getElementById("b");  
           var child = document.getElementById("parse");
           parent.removeChild(child);
            
            });
           } else{
           console.log('login fail');
          }
  });
}

  
  
list=[];  
 
 function shuffle(a) {
    var j, x, i;
    for (i = a.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));
        x = a[i];
        a[i] = a[j];
        a[j] = x;
    }
    console.log('shuffled...');
}
 
  var str='';
  
 function getData(next){
   FB.api(next,{limit:5},function(response) {
     for(var i=0; i<response.data.length; i++){
     list.push(response.data[i]);
     }
     if(response.paging.next !== undefined){
     getData(response.paging.next);
     }else{
       shuffle(list);
    // console.log(list, list.length);
     
       for(var j=0; j<list.length; j++){
       console.log(list[j].from.name, list[j].message); 
      // document.getElementById("result").innerHTML='<td>'+ list[j].from.name +'</td><td>'+ list[j].message +'</td>';
      var num=j+1;
      str += '<tr><td> No.'+ num +'</td><td>'+ list[j].from.name +'</td><td>'+ list[j].message +'</td></tr>';
        document.getElementById("result").innerHTML =str;
       }
       
        var parent = document.getElementById("b");  
           var child = document.getElementById("start");
           parent.removeChild(child);
       alert("lucky winner is " + list[0].from.name + ', mesg: ' + list[0].message);
     }
    });
 }
  
function start(){
  FB.api('524069711321051/comments',{limit:5},function(response) {
     getData('524069711321051/comments');
     });
}



</script>


</head>
<body id='b'>
 <h1>facebook lotto</h1>
 
 
 <strong id="greet">facebook login</strong><p id="name"></p>

<div id="parse">
<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
</div>

  <button onclick="start();" id="start">start</button>
  
  <table id="result"></table>
  </body>
</html>

